---
const { info, es = false } = Astro.props;
---

<section
  class="w-full bg-oor-bg-3 bg-cover py-16 px-16 flex flex-col gap-7 relative text-black/90 text-xl md:text-2xl"
>
  <div class="triangle bg-lw-orange-3"></div>
  <h2 class="text-5xl">{es ? "Condiciones del Préstamo " : "Loan Terms"}</h2>

  <!-- Columns -->
  <div class="w-full flex flex-col md:flex-row gap-5 md:gap-16">
    <ul class="w-full md:w-1/2 flex flex-col gap-7 list-disc">
      <li>{info.list[0]}</li>
    </ul>
  </div>

  <ul class="flex flex-col gap-5">
    <li class="list-disc">{info.list[1]}</li>

    <div class="w-[90%] self-center flex flex-col md:flex-row gap-5 md:gap-16">
      <ul class="w-full md:w-1/2 flex flex-col gap-7">
        <li class="flex gap-2"><span>a)</span> {info.circumstances[0]}</li>
      </ul>

      <ul class="w-full md:w-1/2 flex flex-col gap-5">
        <li class="flex gap-2"><span>d)</span> {info.circumstances[1]}</li>
      </ul>
    </div>
  </ul>
</section>
