---
const { title, es = false } = Astro.props;
---

<div class="px-5 w-[350px] flex flex-col text-lg">
  <b class="text-xl">{title}</b>
  <slot>
    {
      es
        ? "  reducción del 10 % del monto principal, lo que reduce el monto a $XXX"
        : "10% reduction from principal amount, lowering amount to $XXX."
    }</slot
  >
</div>
